<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>Guest Order</h1>

    <form method="post" th:object="${orderDto}" th:action="@{/guest/order}">
        <label>Your name: </label><input type="text" th:field="*{guest}"><br>
        <label>Beverage: </label>
        <select th:field="*{beverageId}">
            <option th:each="beverage : ${beverages}" th:value="${beverage.getId()}" th:text="${beverage.getName()}"></option>
        </select><br>
        <button type="submit">Submit</button>


    </form>
</body>
</html>