<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section>
    <h1>Open Orders</h1>

    <form method="post" th:action="@{/staff/complete/order}" th:object="${orderDto}">
        <label>Order ID: </label><input type="number" th:field="*{orderId}">
        <button type="submit">Complete</button>
    </form>

    <div th:each="order : ${orders}">
        <span th:text="${order.getId()}"></span>,
        <span th:text="${order.getGuest()}"></span>, <span th:text="${order.getBeverage().getName()}"></span>
    </div>
</section>

</body>
</html>